/* Styling for the Home component main div */
.HomePage{
    width: 100%;
    height: 96vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: #F3F6FF;
  }
.HomePage_p{
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    text-justify: inter-word;
}

.HomePage button
{
  display: grid;
  place-items: center;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  /* width: 100px;  */
  border-radius: 10px;
}