html {
    scroll-snap-type: y mandatory;
}

.video__app {
    margin-top: 1%;
    position: relative;
    height: 75vh;
    max-height: 900px;
    overflow: hidden;
    width: 100%;
    max-width: 500px;
    scroll-snap-type: y mandatory;
    border: 4px solid white ;
    border-radius: 10px;

}

.video__app::-webkit-scrollbar {
    display: none;
}

.video__app {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.Leisure {
    display: grid;
    background-color: white;
    place-items: center;
}