/* Styling for the Home component main div */
.App{
  background-color: #F3F6FF;
}

.Page{
  /* width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; */
  background-color: #F3F6FF;
  /* height: 100vh; */
}
.Page2{
  /* width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; */
  background-color: #F3F6FF;
  /* height: 120vh; */
}
.HomePage{
  width: 100%;
  height: 96vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: #F3F6FF;
}
.HomePage_p{
  margin-left: 10%!important;
  margin-right: 10%!important;
  text-align: justify;
  text-justify: inter-word;
}

.HomePage button{
display: grid;
place-items: center;
left: 0; 
right: 0; 
margin-left: auto; 
margin-right: auto; 
/* width: 100px;  */
/* border-radius: 10px; */
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider{
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

/* Styling for the Search & List component main div */
/* .Labor, .Leisure{
  width: 60%;
  height: 40%;
  background-color: #294198;
} */

/* .test {
  border:solid 
  1px blue;
  border-top: 0;
} */
/* Styling for the Home component main div */

/* Styling for the App component nav element 
and Course component course-nav div */
/* .App nav, .tasks-nav{
  background: lightgrey;
  height: 4vh;
  min-width: 50%;
  /* border-radius: 10px; */
  /* text-align: center;
  border-bottom: 2px solid black;
} */
  
/* Styling for App component nav element anchor 
tag and Course component nav element anchor tag */
/* .App nav a, .tasks-nav a{
  padding: 20px 20px;
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
  color: black;
} */

/* Styling for Course component 
course-nav div anchor tag */
/* .tasks-nav a{
  color: black;
} */